
name: Build Doido Engine
on:
  push:
    paths-ignore:
      - '.vscode/**'
      - 'art/**'
      - '.gitattributes'
      - '.gitignore'
      - 'README.md'
      - 'ver.txt'
  workflow_dispatch:
jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4.1.7

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.3

      - name: Read Version
        id: ver
        uses: jaywcjlove/github-action-read-file@v2.0.0
        with:
          path: ver.txt
            
      # Runs a set of commands using the runners shell
      - name: Install Haxelib
        run: |
            haxelib --global install hmm
            haxelib --global run hmm setup
            haxelib --global run hmm init
            haxelib --global run hmm install
        shell: cmd
      - name: Compile
        run: haxelib run lime build windows --app-version="${{ steps.ver.outputs.content }}-${{ github.run_id}}"
      - name: Publish Artifact
        uses: actions/upload-artifact@v4.4.0
        with:
          name: DoidoEngine-Windows-${{ steps.ver.outputs.content }}-${{ github.run_id}}
          path: export/release/windows/bin
  build-linux:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4.1.7

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.3

      - name: Read Version
        id: ver
        uses: jaywcjlove/github-action-read-file@v2.0.0
        with:
          path: ver.txt
      # Runs a set of commands using the runners shell
      - name: Install Haxelib
        run: |
          haxelib setup ~/haxelib
          haxelib install hxcpp > /dev/null --quiet
          haxelib --global install hmm
          haxelib --global run hmm setup
          hmm init
          hmm install
      - name: Compile
        run:
          haxelib run lime build linux --app-version="${{ steps.ver.outputs.content }}-${{ github.run_id}}"
      - name: Publish Artifact
        uses: actions/upload-artifact@v4.4.0
        with:
          name: DoidoEngine-Linux-${{ steps.ver.outputs.content }}-${{ github.run_id}}
          path: 'export/release/linux/bin'
  build-macos:
    # hoping setting this to macos 13 will keep it working on intel macs??? i don't actually own any apple hardware so i'm just guessing here...
    runs-on: macos-13

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4.1.7

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.3

      - name: Read Version
        id: ver
        uses: jaywcjlove/github-action-read-file@v2.0.0
        with:
          path: ver.txt
      # Runs a set of commands using the runners shell
      - name: Install Haxelib
        run: |
          haxelib setup ~/haxelib
          haxelib --global install hmm
          haxelib --global run hmm setup
          hmm init
          hmm install
      - name: Compile
        run:
          haxelib run lime build mac --app-version="${{ steps.ver.outputs.content }}-${{ github.run_id}}"
      - name: Publish Artifact
        uses: actions/upload-artifact@v4.4.0
        with:
          name: DoidoEngine-macOS-${{ steps.ver.outputs.content }}-${{ github.run_id}}
          path: 'export/release/macos/bin'
